*{
    padding:0;
    margin:0;
    font-family: "Poppins";
}

body{
    background-image: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(169,150,200,1) 65%, rgba(52,9,121,1) 100%);
    background-repeat:no-repeat;
}
a{
    color : white;
}
.navbar{
    width:100%;
    height : 5rem;
    display: inline-block;
}
.carousel {
    overflow: hidden;
    width: 90%; 
    margin: auto;
    border-radius: 20px;
    padding-top: 5px;
    box-shadow : #6100ff 0px 5px 15px;
    
  }
  
  .carousel-track {
    display: flex;
    animation: scroll 15s linear infinite;
    width: calc(300px * 4); 
  }
  
  .carousel-slide {
    flex: 0 0 300px;
  }
  
  .carousel-slide img {
    width: 100%;
    height: auto;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%)
    }
}

.opt-btn-container{
    display: flex;
    justify-content: space-around;
}

.opt-btn1{
    width:5rem;
    height:5rem;
    background-image: url("../assets/WhatsApp\ Image\ 2025-02-15\ at\ 15.22.17_6c25eec4.jpg");
    background-size: contain;
    border-radius: 25%;
    border : 3px solid #6100ff;
    padding: 0px 0px;
    box-shadow: #6100ff 0px 5px 15px;
   
}
.opt-btn2{
    width:5rem;
    height:5rem;
    background-image: url("../assets/WhatsApp\ Image\ 2025-02-15\ at\ 15.22.17_67786cc9.jpg");
    background-size: contain;
    border-radius: 25%;
    border : 3px solid #6100ff;
    padding: 0px 0px;
    box-shadow: #6100ff 0px 5px 15px;
}
.opt-btn3{
    width:5rem;
    height:5rem;
    background-image: url("../assets/WhatsApp\ Image\ 2025-02-15\ at\ 15.22.18_c0548ade.jpg");
    background-size: contain;
    border-radius: 25%;
    border : 3px solid #6100ff;
    padding: 0px 0px;
    box-shadow: #6100ff 0px 5px 15px;
}
.opt-btn4{
    width:5rem;
    height:5rem;
    background-image: url("../assets/WhatsApp\ Image\ 2025-02-15\ at\ 15.22.18_2290ee92.jpg");
    background-size: contain;
    border-radius: 25%;
    border : 3px solid #6100ff;
    padding: 0px 0px;
    box-shadow: #6100ff 0px 5px 15px;
}
  